html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* * {
    border: 1px solid red;
} */

body {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) auto;
    height: 100vh;
}


div.main-container {
    display: grid;
    grid-template-rows: min-content auto;
}

div.upper-header {
    display: grid;
    grid-template-columns: max-content auto max-content max-content max-content;
    align-items: center;
    padding-bottom: 16px;
}

div.upper-header > .icon {
    display: grid;
    justify-items: center;
    align-content: center;
}

div.upper-header input {
    width: 100%;
    border-radius: 10px;
    height: 24px;
    border: 0px solid white;
    background-color: #E2E8F0;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

div.upper-header input:focus-visible {
    outline: 0px;
}

div.upper-header .icon {
    padding: 8px;
}

div.upper-header .input-container {
    padding: 16px;
    padding-right: max(15%, 16px);
}

.profile-name, .greetings, .big-profile-name {
    font-weight: bold;
}
.big-profile-name {
    font-size: 1.6rem;
}

div.down-header {
    display: grid;
    grid-template-columns: max-content auto auto;
    align-items: center;
}

div.down-header button {
    border: 0px;
    border-radius: 16px;
    height: 32px;
    width: 80px;
    color: white;
    background-color: #1992D4;
}

div.down-header .header-buttons {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 16px;
    justify-items: right; */
    display: flex;
    gap: 16px;
    justify-content: right;
    flex-wrap: wrap;
}

header {
    padding: 16px;
    padding-right: 32px;
    padding-left: 32px;
    box-shadow: 0px 5px 5px #ccc;
    z-index: 1;
}

div.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 32px;
}

div.project-actions {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
}

div.annoucement-trending {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #E2E8F0;
    padding: 20px;
    gap: 30px
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    align-items: center;
    padding-bottom: 12px;
}

.menu-icon {
    display: grid;
    justify-items: center;
    align-content: center;
    min-width: 30px;
}

.logo .menu-text {
    font-size: 1.6rem;
    font-weight: bold;
}

.menu-text {
    font-size: 1.1rem;
}

.logo .menu-icon  img {
    height: 42px;
}


div.project {
    display: grid;
    grid-template-rows: min-content auto min-content;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #ccc;
    border-left: 8px #F0B62E solid;
}

div.projects-container > div.project-title, div.annoucements-title, div.trending-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 16px;
}

div.project-title {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 8px;
}

div.annoucement-title {
    font-size: 0.8rem;
    font-weight: bold;
    padding-bottom: 8px;
}

.project-action {
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 8px;
    padding-top: 12px;
}

.trending-icon > img {
    height: 48px;
}

.trending-icon {
    display: grid;
    justify-items: center;
    align-content: center;
}

div.trending {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

div.avatar > img {
    height: 48px;
}

div.big-avatar-icon > img {
    height: 64px;
}

.profile-container {
    display: grid;
    grid-template-rows: min-content min-content;
    align-content: center;
}

div.sidebar {
    background-color: #1992D4;
    color: white;
    padding: 16px;
    padding-right: 48px;
}

.svg-white{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.menu-item.logo {
    padding-bottom: 32px;
}

.menu-item.communities {
    margin-bottom: 36px;
}

div.annoucements-content {
    background-color: white;
    border-radius: 8px;
    font-size: 0.8rem;
    padding: 16px;
    box-shadow: 0px 5px 5px #ccc;
}

div.annoucement {
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #ccc;
}

div.annoucement:first-child {
    padding-top: 0;
}

div.annoucement:last-child {
    border-bottom: 0px;
    padding-bottom: 0;
}

div.trendings-content {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    font-size: 0.8rem;
    box-shadow: 0 5px 5px #ccc;
}

div.trending-user {
    font-weight: bold;
}
div.trending-content {
    padding-left: 10px;
}

div.trending, .project-action, div.down-header button, li.menu-item, .icon, .profile-name, .big-profile-name {
    cursor: pointer;
}