html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    border: 1px solid red;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) auto;
}


div.main-container {
    display: grid;
    grid-template-rows: auto auto;
}

div.upper-header {
    display:grid;
    grid-template-columns: 1fr  auto repeat(3, 1fr);
}

input {
    width: 100%;
}

div.down-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

div.annoucement-trending {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}